PORT=3000
PROVIDER_BASE_URL=https://bo.ggusonepay.com
PROVIDER_AUTH_TOKEN=
BRAND_ID=202602182055462370000l9sk6
CLIENT_ID=gundu
CLIENT_NAME=ggundu
CURRENCY_CODE=usd
WAY_CODE=ecashapp
GOOGLE_AUTH=
LIST_PAGE_SIZE=10
POLL_ATTEMPTS=6
POLL_DELAY_MS=1200